{#
   package: virtual_machine/hardware_profile
   source: https://github.com/sebbrochet/azure-jinja2/blob/master/macros/virtual_machine/hardware_profile.json.j2

   macro: create
   Create a new *harware profile* to be used in a *virtual machine* (see <virtual_machine>).

   Parameters:

      vmSize - string, VM model, see <virtual machines windows sizes at https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-sizes/>

   Example:
(start code)
{% import 'azure-jinja2/macros/virtual_machine/hardware_profile.json.j2' as vm_hardware_profile %}

   {{ vm_hardware_profile.create("Standard_D1") }}

(end)

#}

{% macro create(vmSize)
-%}

{
   "vmSize": "{{ vmSize }}"
}
{%- endmacro %}

{#
   macro: from_vars
   Create a new *harware profile* to be used in a *virtual machine* (see <virtual_machine>).

   Parameters:

      vmSize - string = "[variables('vmSize')]", VM model, see <virtual machines windows sizes at https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-sizes/>

   Example:
(start code)
{% import 'azure-jinja2/macros/virtual_machine/hardware_profile.json.j2' as vm_hardware_profile %}

"variables": {
   "vmSize" : "Standard_D1"
},
"resources": [
   ...
   {% set hardware_profile %}
   {{ vm_hardware_profile.from_vars() }}
   {% endset %}
}

(end)

#}

{% macro from_vars(
     vmSize = "[variables('vmSize')]"
   )
-%}
{{
  create(
     vmSize = vmSize
  )
}}
{%- endmacro %}
