{#
   package: virtual_machine/os_profile
   source: https://github.com/sebbrochet/azure-jinja2/blob/master/macros/virtual_machine/os_profile.json.j2

   macro: create
   Create a new *os profile* to be used in a *virtual machine* (see <virtual_machine>).

   Parameters:

      name - string, name for the computer
      adminUsername - string, name for the admin user
      adminPassword - string, password associated with the admin user
      sshKeyData - string, public key to login if required
      sshKeyPath - string, full filename of the authorized_keys file
      customData - string (optional), base64-encoded custom data


   Example 1:
(start code)

{% import 'azure-jinja2/macros/virtual_machine/os_profile.json.j2' as vm_os_profile %}

{% set OS_profile %}
{{ vm_os_profile.create(
      name = "myserver",
      adminUsername = "azureuser",
      adminPassword = "myp@ssw0rd!",
   )
}}
{% endset %}

(end)

   Example 2:
(start code)

{% import 'azure-jinja2/macros/virtual_machine/os_profile.json.j2' as vm_os_profile %}

{% set OS_profile %}
{{ vm_os_profile.create(
      name = "myserver",
      adminUsername = "azureuser",
      sshKeyData = "ssh-rsa AAAAB3...6gJol azureuser@noc",
      sshKeyPath = "/home/azureuser/.ssh/authorized_keys"
   )
}}
{% endset %}

(end)
#}

{% macro create(
     name,
     adminUsername,
     adminPassword,
     sshKeyData,
     sshKeyPath,
     customData = ""
   )
-%}
{
     "computerName": "{{ name }}",
     "adminUsername": "{{ adminUsername }}",
     {% if sshKeyData and sshKeyPath %}
     "linuxConfiguration": {
        "disablePasswordAuthentication": "true",
        "ssh": {
           "publicKeys": [
               {
                 "path": "{{ sshKeyPath }}",
                 "keyData": "{{ sshKeyData }}"
               }
            ]
        }
     }
     {% else %}
     "adminPassword": "{{ adminPassword }}"
     {% endif %}
     {% if customData %}
     ,
     "customData" : "{{ customData }}"
     {% endif %}
}
{%- endmacro %}

{% macro from_vars(
     name          = "[variables('vmName')]",
     adminUsername = "[variables('adminUsername')]",
     adminPassword = "[variables('adminPassword')]",
     withSSHKey    = "false",
     sshKeyData    = "[variables('sshKeyData')]",
     sshKeyPath    = "[variables('sshKeyPath')]",
     customData    = ""
   )
-%}
{% if withSSHKey != "false" %}
{% set _sshKeyData %}{{ sshKeyData }}{% endset %}
{% set _sshKeyPath %}{{ sshKeyPath }}{% endset %}
{% else %}
{% set _sshKeyData %}{% endset %}
{% set _sshKeyPath %}{% endset %}
{% endif %}

{{ create(
      name = name,
      adminUsername = adminUsername,
      adminPassword = adminPassword,
      sshKeyData = _sshKeyData,
      sshKeyPath = _sshKeyPath
   )
}}
{%- endmacro %}
