{#
   package: virtual_machine/storage_profile
   source: https://github.com/sebbrochet/azure-jinja2/blob/master/macros/virtual_machine/storage_profile.json.j2

   macro: create
   Create a new *storage profile* to be used in a *virtual machine* (see <virtual_machine>).

   Parameters:

      storageAccountName - string, name of an existing *storage account* (see <storage_account>)
      vmStorageAccountContainerName - string, name of the container in the storage account
      imagePublisher - string
      imageOffer - string
      OSVersion - string
      version - string
      OSDiskName - string
      dataDisks - array (optional), list of data disk configurations (see <virtual_machine/data_disk>)

   Example:
(start code)
{% import 'azure-jinja2/macros/virtual_machine/storage_profile.json.j2' as vm_storage_profile %}
{% import 'azure-jinja2/macros/virtual_machine/data_disk.json.j2' as vm_data_disk %}

   {% set _dataDisks %}
   [
   {{ vm_data_disk.create(
         name = "datadisk1",
         storageAccountName = "[concat(uniquestring(resourceGroup().id), 'salinuxvm')]",
         vmStorageAccountContainerName = "vhds,
         sizeOfDiskInGB = "100",
         dataDiskVhdName = "datadisk1"
      )
   }}
   ]
   {% endset %}

   {{ vm_storage_profile.create(
         storageAccountName = "[concat(uniquestring(resourceGroup().id), 'salinuxvm')]",
         vmStorageAccountContainerName = 'vhds',
         imagePublisher = "Canonical",
         imageOffer = "UbuntuServer",
         OSVersion = "15.10",
         version = "latest", 
         OSDiskName = "osdiskforlinuxsimple",
         dataDisks = _dataDisks
      )
   }}

(end)


#}

{% macro create(
     storageAccountName,
     vmStorageAccountContainerName,
     imagePublisher,
     imageOffer,
     OSVersion,
     version,
     OSDiskName,
     dataDisks
   )
-%}
{
     "imageReference": {
        "publisher": "{{ imagePublisher }}",
        "offer": "{{ imageOffer }}",
        "sku": "{{ OSVersion }}",
        "version": "{{ version }}"
      },
      "osDisk": {
        "name": "osdisk",
        "vhd": {
           "uri": "[concat('http://',{{ storageAccountName }},'.blob.core.windows.net/',{{  vmStorageAccountContainerName }},'/',{{ OSDiskName }},'.vhd')]"
        },
        "caching": "ReadWrite",
        "createOption": "FromImage"
      }
      {% if dataDisks %}
      ,
      "dataDisks": {{ dataDisks }}
      {% endif %}
}
{%- endmacro %}


{% macro from_vars(
     storageAccountName            = "variables('storageAccountName')",
     vmStorageAccountContainerName = "variables('vmStorageAccountContainerName')",
     imagePublisher                = "[variables('imagePublisher')]",
     imageOffer                    = "[variables('imageOffer')]",
     OSVersion                     = "[variables('OSVersion')]",
     version                       = "latest",
     OSDiskName                    = "variables('OSDiskName')",
     withDataDisk                  = "true",
     sizeOfDiskInGB                = "[variables('sizeOfDiskInGB')]",
     dataDisk1VhdName              = "variables('dataDisk1VhdName')"
   )
-%}
{% if withDataDisk == "true" %}
{% import 'azure-jinja2/macros/virtual_machine/data_disk.json.j2' as vm_data_disk %}

{% set _dataDisks %}
[
   {{ vm_data_disk.create(
         name = "datadisk1",
         storageAccountName = storageAccountName,
         vmStorageAccountContainerName = vmStorageAccountContainerName,
         sizeOfDiskInGB = sizeOfDiskInGB,
         dataDiskVhdName = dataDisk1VhdName
      )
   }}
]
{% endset %}
{% else %}
{% set _dataDisks %}{% endset %}
{% endif %}

{% import 'azure-jinja2/macros/virtual_machine/storage_profile.json.j2' as vm_storage_profile %}

{{ vm_storage_profile.create(
      storageAccountName = storageAccountName,
      vmStorageAccountContainerName = vmStorageAccountContainerName,
      imagePublisher = imagePublisher,
      imageOffer= imageOffer,
      OSVersion = OSVersion,
      version = version,
      OSDiskName = OSDiskName,
      dataDisks = _dataDisks
   )
}}

{%- endmacro %}
