{#
   package: public_ip_address
   source: https://github.com/sebbrochet/azure-jinja2/blob/master/macros/public_ip_address.json.j2

   macro: create
   Create a Public IP Address.
   
   Parameters:

      name - string
      apiVersion - string
      location - string
      type - string, Public IP allocation method, *"Static"* or *"Dynamic"*
      dnsLabelPrefix - string (optional), prefix of the FQDN associated with the Public IP such as <dnsLabelPrefix>.<location>.cloudapp.azure.com

   Example:
(start code)
{% import 'azure-jinja2/macros/public_ip_address.json.j2' as public_ip_address %}

{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "resources" : [
    {{ public_ip_address.create(
         name = "myPulicIP",
         apiVersion = "2015-06-15",
         location = "West Europe"
       )
    }}
  ]
}

(end)


#}

{% macro create(
      name,
      apiVersion,
      location,
      type,
      dnsLabelPrefix = ""
   )
-%}
{
   "type": "Microsoft.Network/publicIPAddresses",
   "apiVersion": "{{ apiVersion }}",
   "name": "{{ name }}",
   "location": "{{ location }}",
   "properties": {
      "publicIPAllocationMethod": "{{ type }}"
      {% if dnsLabelPrefix %}
      ,
      "dnsSettings": {
         "domainNameLabel": "{{ dnsLabelPrefix }}"
      }
      {% endif %}
   }
}
{%- endmacro %}

{#
   macro: from_vars
   Create a Public IP Address with JSON variables.

   Parameters:

      Name - string = "[variables('publicIPAddressName')]"
      apiVersion - string = "[variables('apiVersion')]"
      location - string = "[variables('location')]"
      type - string = "[variables('publicIPAddressType')]", Public IP allocation method, *"Static"* or *"Dynamic"*
      withDNS - string = "false", set to "true" if you want to use the *dnsLabelPrefix* parameter
      dnsLabelPrefix - string = "[variables('dnsLabelPrefix')]", prefix of the FQDN associated with the Public IP such as <dnsLabelPrefix>.<location>.cloudapp.azure.com

   Example:
(start code)
{% import 'azure-jinja2/macros/public_ip_address.json.j2' as public_ip_address %}

{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "variables": {
    "apiVersion": "2015-06-15"
    "location": "[resourceGroup().location]",
    "publicIPAddressName": "myPublicIP",
    "publicIPAddressType": "Dynamic"
  },
  "resources" : [
    {{ public_ip_address.from_vars() }}
  ]
}

(end)

#}


{% macro from_vars(
      name                = "[variables('publicIPAddressName')]",
      apiVersion          = "[variables('apiVersion')]",
      location            = "[variables('location')]",
      type                = "[variables('publicIPAddressType')]",
      withDNS             = "false",
      dnsLabelPrefix      = "[variables('dnsLabelPrefix')]"
   )
-%}
{% if withDNS != "false" %}
   {% set _dnsLabelPrefix = dnsLabelPrefix %}
{% else %}
   {% set _dnsLabelPrefix = "" %}
{% endif %}

{{
   create(
      name = name,
      apiVersion = apiVersion,
      location = location,
      type = type,
      dnsLabelPrefix = _dnsLabelPrefix 
   )
}}
{%- endmacro %}
