{{ inventory_dict | to_nice_yaml }}
    children:
{% for group in group_inventory_dict.keys() %}
      {{ group }}:
        hosts:
{% for host in group_inventory_dict[group] %}
          {{ host }}:
{% endfor %}
{% if default_group_vars[group] is defined %}
        vars:
          {{ default_group_vars[group] | to_nice_yaml(indent=10) }}
{% endif %}
{% endfor %}
