This system is for the use of authorized users only. Individuals accessing and using this system without authority, or in excess of their authority, are subject to having all of their activities monitored and recorded by system personnel.
Anyone using this system expressly consents to such monitoring and is advised that if such monitoring reveals possible evidence of criminal activity, system personnel may provide the evidence of such monitoring to law enforcement officials.
Description: {{ device_description }}
Hostname: {{ inventory_hostname }}
Company: {{ company_name }}
Address: {{ company_address }}
Model: {{ ansible_net_model[0] }}
